body{font-family: Arial, Helvetica, sans-serif;
    columns: white;;
    background: #777777;
    width:960px;
    font-size: 18px;
    float:left;}
/* header/nav */
.top{background: #ebebee;
    margin-bottom:26px;
    margin-left:300px;
    width: 495px;
    height:14px;
    margin-top:21px;
    padding:20px;
    padding-left:500px;
    }
/* section */
#box{ background-color:#ebebee;
    color:#e60b0b;
    text-align: center;
    width: 496px;
    height: 211px;
   padding: 37px;
   right: -21px;
margin-left:300px;}

#article{color:#ebebee;
background-color:#777;
 border: 31px;
height: 146px;
width: 495px;
position: relative;
right: -25px;
top: -219px;
text-align: center;
padding: 10px;
margin-left:300px;
}
#heading{ background-color: #ebebeb;
    text-align: center;
    width: 409px;
    padding: 10px;
    position: relative;
    top: -365px;
    right: -62px;
    margin-left:300px;}

#p{ background-color: #ebebeb;
    text-align: center;
    width: 409px;
    padding: 10px;
    position: relative;
    top: -365px;
    right: -60px;
margin-left:300px;}

#aside{ background-color: #ebebeb;
    text-align: center;
    margin-left: 839px;
    width: 496px;
    height: 261px;
    padding:6px;
    position: relative;
    right: -59px;
padding-top:1px;
padding-bottom:6px;}

footer{  background-color: #ebebeb;
    padding: 20px;
    margin: 20px;
    position: relative;
    top: -314px;
    margin-left:300px;
    height:14px;
    width:495px;
    padding-left:500px;}
